* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: black;
    background-color: #FAFAFA;
}


header {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 10vh;
    margin-top: 8vh;
}

header p {
    max-width: 30.5vw;
}


footer {
    margin-top: 30vh;
    margin-bottom: 4vh;
    text-align: center;
    color: #A9A9A9;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#username {
    font-weight: 700;
    text-decoration-line: underline;
}

main {
    display: grid;
    grid-template: auto auto auto/auto auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 2vw;
    row-gap: 8vh;
}

#image2,
#image5 {
    margin-top: 200px;
}

/* .image1 {
    grid-area: 1/1/2/2;
}

.image2 {
    grid-area: 1/2/2/3;
}

.image3 {
    grid-area: 1/3/2/4;
}

.image1 {}

.image1 {}

.image1 {} */

.image-container {
    display: grid;
    grid-template: auto auto/ auto auto;
    row-gap: 15px;
    column-gap: 10px;
}

.image-container .name {
    grid-area: 2/1/3/2;
}

.image-container .role {
    writing-mode: vertical-lr;
    text-align: top;
    text-transform: uppercase;
}

main img {
    width: 16.5vw;
    min-width: 200px;
}


@media screen and (max-width: 740px) {
    body {
        padding: 0 6vw;
    }

    header {
        flex-direction: column;
        justify-content: space-between;
    }

    header p {
        max-width: 70vw;
    }

    header .team-description {
        margin-top: 38px;
        margin-bottom: 15px;
    }

    main {
        grid-template: auto auto auto auto/auto auto;
        column-gap: 4vw;
        row-gap: 8vh;
    }

    main img {
        width: 37vw;
    }

    #image2,
    #image4,
    #image6 {
        margin-top: 200px;
    }

    #image5 {
        margin-top: 0;
    }
}